| $('#task_count_id_#{@task.id}').html("#{j(render partial: 'groups/task_count.html', locals: {task: @task})}");
| $('#task_confirmation_id_#{@task.id}').html("#{j(render partial: 'groups/task_confirmation.html', locals: {task: @task})}");